*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;}

body{width: 100%;
height: 90vh;
background-color: rgb(241, 242, 246);
display: flex;
flex-direction: column;
justify-content: start;}

header{min-height: 12%;
width: 100%;
background-color: rgb(55, 89, 153);
display: flex;
justify-content: start;
align-items: center;
padding-left: 15px;
}

header > img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

header > h3{
    font-family: 'Facebook Sans', sans-serif;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: 90%;
    width: 100%;
    margin: auto;
    color: blue;
    margin-top: 10%;
}

main > h3{
    font-family: 'Facebook Sans', sans-serif;
    color: rgb(30, 117, 234);
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 50px;
}

main > p{margin-top: 5%;
line-height: 26px;
color: rgba(0, 0, 0, 0.849);
font-family: 'Facebook Sans', sans-serif;
font-weight:550;
font-size: 19px;
}

main > form{
background-color: white !important;
margin-top: 5%;
width: 85%;
height: 90%;
align-self: center;
display: flex;
flex-direction: column;
justify-content: start;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-top: 15px;
padding-right: 15px;
padding-left: 15px;
box-shadow: 5px, 5px, 5px solid black;
border-radius: 5px;

}

main > form > input, button{width: 100%;
height: 40px;
border-radius: 5px;
margin-bottom: 15px;
font-family: 'Facebook Sans', sans-serif;
font-size: 16px;
}

main > form > input{padding-left: 15px;}

main > form > #create_new{background-color: rgb(49, 177, 23);
border: none;
width: 70%;
align-self: center;}

main > form > #create_new > a{text-decoration: none;
color: white;
font-size: 16px;}

main > form > a{margin-bottom: 15px;
text-decoration: none;
color: rgb(30, 117, 234);;}